---
export const prerender = true;

import Layout from "@layout/Layout.astro";
import Main from "@UI/Main.astro";

import Card from "@UI/Card.astro";
import { getCollection, type CollectionEntry } from "astro:content";
import SeasonSEO from "@SEO/SeasonSEO.astro";

interface Props {
  entry: CollectionEntry<"tweets">;
}

export async function getStaticPaths() {
  const quotes = await getCollection("tweets");

  return quotes.map((entry) => ({
    params: { season: entry.data.season },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const tweets = await getCollection("tweets");
const { data } = entry;
const { season } = data;

const filteredTweets = tweets.filter((tweet) => tweet.data.season === season);
---

<Layout>
  <SeasonSEO entry={entry} slot="head" />
  <Main>
    <section
      class="card-container mx-auto py-6 px-4 xs:px-16 sm:px-4 grid grid-cols-1 grid-rows-auto sm:grid-cols-2 gap-6 overflow-y-hidden"
    >
      {filteredTweets.map((tweet) => <Card entry={tweet} />)}
    </section>
  </Main>
</Layout>
