---

---

<button id="shuffle-btn" title="Desordenar Tarjetas" class="shuffle-btn">
  Mezclar
</button>

<script>
  function setupShuffleButton() {
    const shuffleBtn = document.getElementById("shuffle-btn");
    const cardsContainer = document.querySelector<HTMLElement>("section.grid");

    if (!shuffleBtn || !cardsContainer) {
      return;
    }

    function shuffle<T>(array: T[]): T[] {
      let currentIndex = array.length,
        randomIndex;

      while (currentIndex != 0) {
        randomIndex = Math.floor(Math.random() * currentIndex);
        currentIndex--;

        [array[currentIndex], array[randomIndex]] = [
          array[randomIndex],
          array[currentIndex],
        ];
      }
      return array;
    }

    shuffleBtn.addEventListener("click", () => {
      const cards = Array.from(cardsContainer.querySelectorAll("article.card"));
      const shuffledCards = shuffle(cards);

      // Limpiar el contenedor y añadir las tarjetas barajadas
      cards.forEach((card) => card.remove());
      shuffledCards.forEach((card) => {
        cardsContainer.appendChild(card);
      });
    });
  }

  document.addEventListener("astro:page-load", setupShuffleButton);
</script>
