---
import Layout from "@layout/Layout.astro";
import Main from "@UI/Main.astro";

import Card from "@UI/Card.astro";
import { getCollection } from "astro:content";

// algoritmo Fisher-Yates para devolver una baraja totalmente mezclada
function shuffleCard<T>(array: T[]): T[] {
  let copia = [...array];
  for (let i = copia.length - 1; i > 0; i--) {
    const j = Math.floor(Math.random() * (i + 1));
    [copia[i], copia[j]] = [copia[j], copia[i]];
  }
  return copia;
}

const tweets = shuffleCard(await getCollection("tweets"));
---

<Layout>
  <Main>
    <section
      class="mx-auto py-6 px-4 xs:px-16 sm:px-4 grid grid-cols-1 grid-rows-auto sm:grid-cols-2 gap-6 overflow-y-hidden transition-all"
    >
      {tweets.map((tweet) => <Card entry={tweet} />)}
    </section>
  </Main>
</Layout>
