---
import Logo from "./Logo.astro";

interface SeasonPath {
  href: string;
  text: string;
}

const seasonPaths: SeasonPath[] = [
  { href: "/temporada/1", text: "T1" },
  { href: "/temporada/2", text: "T2" },
  { href: "/temporada/3", text: "T3" },
  { href: "/temporada/4", text: "T4" },
  { href: "/temporada/5", text: "T5" },
  { href: "/", text: "Todas" },
];

const currentPath = Astro.url.pathname;
// Normaliza la ruta eliminando la barra final si existe (y no es la raíz)
const normalizedPath =
  Astro.url.pathname.length > 1
    ? Astro.url.pathname.replace(/\/$/, "")
    : Astro.url.pathname;
---

<header
  class="p-2 sm:p-3 flex items-center gap-y-3 justify-between border-b-4 backdrop-blur-xs border-cutre-black sticky top-0 z-50"
>
  <Logo />
  <section>
    <ul class="flex justify-center items-center gap-x-2 sm:gap-x-3">
      {
        seasonPaths.map(({ href, text }) => (
          <li>
            <a
              href={href}
              class={normalizedPath === href ? "btn-active" : "btn-inactive"}
            >
              {text}
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</header>
