---
import Logo from "./Logo.astro";
---

<header
  class="p-2 sm:p-3 flex items-center gap-y-3 justify-between border-b-4 border-custom-black backdrop-blur-xs border-cutre-black sticky top-0 z-50"
>
  <Logo />
  <section>
    <ul class="flex justify-center items-center gap-x-2 sm:gap-x-3">
      <li>
        <a href="/temporada/1" class="btn-season">T1</a>
      </li>
      <li>
        <a href="/temporada/2" class="btn-season">T2</a>
      </li>
      <li>
        <a href="/temporada/3" class="btn-season">T3</a>
      </li>
      <li>
        <a href="/temporada/4" class="btn-season">T4</a>
      </li>
      <li>
        <a href="/temporada/5" class="btn-season">T5</a>
      </li>
      <li>
        <a href="/" class="btn-all-season">Todas</a>
      </li>
    </ul>
  </section>
</header>
