---
import "../styles/global.css";
import BaseHead from "@SEO/BaseHead.astro";

import Footer from "@UI/Footer.astro";
import Header from "@UI/Header.astro";
---

<!doctype html>
<html lang="es">
  <BaseHead>
    <slot name="head" />
  </BaseHead>
  <body class="mx-auto max-w-3xl grid grid-cols-1">
    <Header />
    <slot />
    <Footer />
  </body>
</html>
